<div class="jumbotron">
  <%= if @user do %>
    <h2>Logged in as: <%= @user.name %></h2>
  <% else %>
    <h2>Not logged in - try <a href="?email=user@example.com&password=password">clicking here</a></h2>
  <% end %>
</div>

